<section class="container centered">
  <div class="row justify-content-center form">
    <div class="col-12 col-md-8">
      <form name="contact" netlify>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Phone Number</label>
              <input type="tel" class="form-control cardHover" placeholder="XXX-XXX-XXXX" pattern="\d{3}[\-]\d{3}[\-]\d{4}" name="phone" />
            </div>
            <div class="form-group col-md-6">
              <label>Email</label>
              <input class="form-control cardHover" type="email" name="email" required />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Subject</label>
              <input class="form-control cardHover" type="text" class="form-control" name="subject" required />
            </div>
            <div class="form-group col-md-6">
              <label>Name</label>
              <input class="form-control cardHover" type="text" name="name" required />
            </div>
          </div>
          <div class="form-group col-md-12 noPadForm">
            <label>Message</label>
            <input class="form-control message form-control-lg cardHover" type="text" name="message" required />
          </div>
          <div class="form-group ml-auto">
            <button class="button" type="submit">Send</button>
          </div>
      </form>
    </div>
  </div>
</section>